*/10 * * * * root . /etc/environment; /repo_scripts/trigger_workflow.sh update-status.yml >> /var/log/cron.log 2>&1
0 19 * * * root . /etc/environment; /repo_scripts/trigger_workflow.sh update-chargers.yml >> /var/log/cron.log 2>&1
0 0 * * 0 root : > /var/log/cron.log
