0 * * * * root . /etc/environment; /repo_scripts/run_status.sh >> /var/log/cron.log 2>&1
0 19 * * * root . /etc/environment; /repo_scripts/run_full.sh >> /var/log/cron.log 2>&1
0 0 * * 0 root : > /var/log/cron.log
